# --- Node.js ---
node_modules/

# --- Logs ---
npm-debug.log
yarn-error.log


# --- Playwright ---
.cache/
test-results/
playwright-report/

# --- Environment Variables ---
.env

# --- Compiled Files ---
dist/
build/
*.js.map

# --- IDE Files ---
.vscode/

# ---macOS system files---
.DS_Store

# --- temporary files ---
*.log
tmp/